<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="main.css">

        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <script src="main.js"></script>
        

        <link rel="icon" href="money_citrus_logo.png">

        <title>MoneyCitrus</title>
        <!-- {% if title %}
            <title>Main  - {{ title }}</title>
        {% else %}
            <title></title>
        {% endif %} -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101201050);</script>
        <script async src="//static.getclicky.com/js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    </head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel py-0 fixed-top">
            <div class="container">
            <a class="navbar-brand mr-4" href="/"><img src="money_citrus_logo.png" style="width:50px;height:50px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <!-- <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/about/">About</a> -->
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/about">About</a>

                    <!-- <a class="nav-item nav-link" href="/contact"> -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-item nav-link cdn_remove" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <span class="nav-label">Finance Calculators</span> <span class="caret"></span></a>
                            <div id="submenu_ul">
                                <div class="dropdown-content">
                                    <ul class="dropdown-menu navbar-dark bg-steel">
                                        <div id="sub_nav_li_a">
                                            <li><a href="/monthly_loan_calculator" class="sub_block sub_menu_padding">Monthly Loan Calculator</a></li>
                                            <li><a href="/monthly_mortgage_calculator" class="sub_block sub_menu_padding">Monthly Mortgage Calculator</a></li>
                                            <li><a href="/monthly_auto_loan_calculator" class="sub_block last_element">Monthly Auto Loan Calculator</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </a>

                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-item nav-link cdn_remove" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <span class="nav-label">Important finance Info</span> <span class="caret"></span></a>
                            <div id="submenu_ul">
                                <div class="dropdown-content">
                                    <ul class="dropdown-menu navbar-dark bg-steel">
                                        <div id="sub_nav_li_a">
                                            <li><a href="/buying_cars" class="sub_block sub_menu_padding">Buying a car</a></li>
                                            <li><a href="/buying_house" class="sub_block sub_menu_padding">Buying a house</a></li>
                                            <li><a href="/side_hustle" class="sub_block last_element">What is a side hustle?</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
                </div>
        </nav>
    </header>
    <div class="pushbot">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 content-section">
                {{{body}}}
                <hr>
                
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Large purchases and wealth building tips</h3>
                        <p class='text-muted'>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">
                                    <a href="/buying_cars">How to buy cars</a>
                                </li>
                                <li class="list-group-item list-group-item-light">
                                    <a href="/buying_house">How to buy house</a>
                                </li>
                                <li class="list-group-item list-group-item-light">
                                        <a href="/side_hustle">Tips on Side Hustles</a>
                                </li>
                        
                            </ul>
                        </p>
                    </div>

                    <div class="content-section">
                        <h3>Financial Calculators</h3>
                        <p class='text-muted'>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">
                                    <a href="/monthly_loan_calculator">Monthly Loan Calculator</a>
                                </li>
                                <li class="list-group-item list-group-item-light">
                                    <a href="/monthly_mortgage_calculator">Monthly Mortgage Calculator</a>
                                </li>
                                <li class="list-group-item list-group-item-light">
                                    <a href="/monthly_auto_loan_calculator">Monthly Auto Loan Calculator</a>
                                </li>

                            </ul>
                        </p>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
 
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-steel navbar-dark navbar-expand-md">

        <!-- Footer Links -->
        <div class="container text-center blue text-md-left">
        
            <!-- Grid row -->
            <div class="row">

            <div class="col-md-1 mt-md-0 mt-3 px-0" >

                <!-- Content -->
                <a href="/"><img id="money_logo_too_big" src="money_citrus_logo.png" class="img-fluid"></a>
            </div>
        
            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">
        
                <!-- Content -->
                <h5 class="text-uppercase">MoneyCitrus:</h5>
                <p id="footer_p">We are passionate about helping everyone achieve their financial goals.</p>
        
            </div>
            <!-- Grid column -->
        
            <hr class="clearfix w-100 d-md-none pb-3">
        
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Important Links</h5>
        
                <ul class="list-unstyled">
                <li>
                    <a href="/legal_disclaimer" class="bot_link">Legal Disclaimer</a>
                </li>
                <li>
                    <a href="/privacy_policy" class="bot_link">Privacy Policy</a>
                </li>
                </ul>
         
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase" align="center" >Connect with us</h5>
                <ul class="list-inline" align="center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/MoneyCitrus" class="fa fa-facebook-square fa-sizing fa-2x"></a> </li>
                    <li class="list-inline-item"><a href="https://twitter.com/moneycitrus" class="fa fa-twitter fa-sizing fa-2x"></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/26549276" class="fa fa-linkedin fa-sizing fa-2x"></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/moneycitrus/" class="fa fa-instagram fa-sizing fa-2x"></a> </li>
                    <li class="list-inline-item"><a href="mailto:sudoxx2@gmail.com?subject=MoneyCitrus Inquiries" class="fa fa-envelope fa-sizing fa-2x"></a></li>
                </ul>
                <!-- <ul class="list-inline" align="center"> -->
                    <!-- <li class="list-inline-item">
                        <a href="http://github.com/sudoxx2">
                            <i class="fa fa-github" style="font-size:30px;color:lightblue"></i>
                        </a> 
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:sudoxx2@gmail.com?subject=MoneyCitrus Inquiries">
                            <i class="fa fa-envelope" style="font-size:30px;color:lightblue"></i>
                        </a> 
                    </li> -->
                    
                    <!-- <li class="list-inline-item">Nulla volutpat</li> -->
                <!-- </ul> -->
                    
            </div>
            <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
        </div>
        <!-- Footer Links -->
        
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">©2019 Copyright: sudoxx
            <!-- <a href="#" class="bot_link"> sudoxx</a> -->
        </div>
        <!-- Copyright -->
        
        </footer>
        <!-- Footer -->

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- this script below is making the navbar not collapose in mobile view -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

<!-- Chart js stuff cdn -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
</html>


  