<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<img src="m8s.jpg">

<hr>

<h1>About MoneyCitrus</h1>
<p>In 2019 we decided to fill the gap of financial education for our 
    underserved/uninformed community by creating this site. I created/handpicked a large majority
    of the content on this site to educate people on making better informed financial decisions.
</p>
<p>
    "Just 40 percent of Americans are able to cover an unexpected $1,000 expense, such as an emergency room visit or car repair, with their savings, according to a survey from personal finance website Bankrate."</p>
<a href="https://www.cnbc.com/2019/01/23/most-americans-dont-have-the-savings-to-cover-a-1000-emergency.html">Source: CNBC</a>
</br>
</br>
<p>We do not believe money is everything but we do believe that informed financial decisions will lead to a more fulfilling life. We want to help people retire early and give back as much as possible. Retirement to us means time to grow with our relationships and personal growth. This is only how we feel and there might be people who disagree with this philiosphy, but thats what makes us better and stronger as a community.</p>


</body>
</html>