

<h1>How to buy a house</h1>
<img src="shack.jpg">

<hr>

<h2>Rule of thumb:</h2>

<h4 class="h4_black">Buy a house that has monthly payment of 25-30% of your net monthly income.</h4>

<p>How much House can I afford Calculator:</br>
    <a href="https://moneycitrus.com/monthly_mortgage_calculator">Monthly Morgage Calculator</a>
</p>
