
<!-- <img src="../static/main/auto_debt.jpg">

<hr> -->
<div>
<h1>How to buy a Car</h1>
<hr>
<img src="free.jpg">
<hr>

<h2>Rule of thumb:</h2>


<h4 class="h4_black">Buy a car 3-5 years old. That should shave around 40-60% of the original price.</h4>
</br>
<p>Do not buy a car from the dealership because it's one of the worst investments ever.</p>

<p>Checkout my <a href="https://moneycitrus.com/monthly_auto_loan_calculator">Auto Loan Calculator</a> before making a big financial investment in a vehicle to see if you can afford monthly payments.</p>

<hr>
<ul>
        <li>
            <p>
                    <h2>Car Depreciation Video:</h2></br>
                    <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/TtJXl6pk0Z4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </p>
        </li>
    <hr>
        <li>
            <p>
                    <h2>Dont get scammed at car dealership!:</h2></br>
                    <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/1gtmij_uNuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </p>
        </li>
        <hr>
        <li>
            <p>
                    <h2>How to buy a used card from the dealership:</h2> </br>
                    <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/xvtVSGpKdto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </p>
        </li>
    </ul>


</div>
