
<h1 class="col-md-12">Welcome to MoneyCitrus</h1>
<hr>
<h3>"Your one stop shop for all finance related needs"</h3>
<p>MoneyCitrus is aimed to provide financial tools and knowledge that will make you wealthier.
     The information on here should be taught in school but isn't. You're probably thinking
     "I can just google any finance questions I have" which is true, but there is an overflow
      of information on the internet which creates fat. This website is
       aimed to cut the fat and get straight to the lean meat.
</p>

<hr>

<img src="prag.jpg">

<hr>
<h2 align="center">How to get rid of debt</h2>
<p>
        This is not a strict guide to getting rid of debt but a nice guideline 
        to follow for anyone that needs financial structure to follow:
</p>
    <ul>
        <li>
        STEP 1
            Save $2,000 for your starter emergency fund.
        </li>
        <li>
        STEP 2
            Pay off all debt (except the house) using the debt snowball.
        </li>
        <li>
                STEP 3
                Save 4–7 months of expenses in a fully funded emergency fund.
        </li>
        
        <li>
                STEP 4
                Invest 15% of your household income in retirement.
        </li>
        
        <li>
                STEP 5
                Save for your children’s college fund.
        </li>
        
        <li>
                STEP 6
                Pay off your home early.
        </li>
        
        <li>
                STEP 7
                Build wealth and give.
        </li>
    </ul>
</br>

