

<h1>What is a side hustle?</h1>

<hr>

<img src="side_hustle.jpg">
<hr>
<h2>Definition of a side hustle:</h2>
<p>
    A side hustle is any type of employment undertaken in addition to one’s full-time job. A side hustle is generally freelance or piecework in nature, providing a supplemental income. Side hustles are often things a person is passionate about, rather day a typical day job worked in order to make ends meet. 
</p>
    -  What is a side hustle?: <a href="https://www.wonolo.com/blog/what-is-a-side-hustle/">Wonolo Reference Link</a>
    <p>
    - More side hustle ideas!: <a href="https://www.entrepreneur.com/article/293954">entrepreneur.com reference link</a></p>
